/* Some defaults for CSS */

*,
*::before,
*::after {
  box-sizing: border-box
}


* {
  margin:0;
  margin-top:20px;
  font: inherit;
  text-align: center;
  
 
}

img, svg {
  display: block;
  max-width: 100%;
}

h1{
  font-weight: bold;
  margin-left: 30px;
}
h2{
  margin-top:40px;
  font-weight: bold;
  
}

p{
  margin-top: 20px;
  margin-left: 10px;
}

footer{
  background-color: lightgray;
  height: 50px;
  width:100%;
  padding-top:2px;
 
}